<h1>Login</h1>

<!--formtag can be used for a login because they are not creating a new user -->
<!--form_for is used here because -->

<%= form_for(@user) do |f| %>
    <%= f.label :username%>
    <%= f.text_field :username%>

    <%= f.label :password%>
    <%= f.password_field :password%>

    <%= f.submit "Sign In"%>

<% end %>

