<h1>Make a new pizza</h1>

<%= form_for(:pizza) do |f| %>
    <%= f.label :specialtyname %>
    <%= f.text_field :specialtyname %>

    <%= f.label :toppings %>
    <%= f.text_field :toppings %>

    <p>Select a Restaurant:<p>
    <!--Assign this the resturant id-->
    <!--Collection_select(object, method, collection, value_method(id), text_method(what is displayed), options-->
        <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>

    <p>Or create a<b> new Restaurant</b><p>
    <!--We need this to write attributes of another object AKA this is my nested form-->
    <!--When doing a nested form, use the fields_for-->
    <div>
        <%=f.fields_for :restaurant do |r|%>
            <%= r.label :name%>
            <%= r.text_field :name %>
            <br>
            <%= r.label :city%>
            <%= r.text_field :city %> 
            <br>
            <%= r.label :state%>
            <%= r.text_field :state %>
            <br>
            <%= r.label :website %>
            <%= r.text_field :website %>
        <%end %>
    </div>

    <br>

    <%= f.submit "Add a New Pizza"%>

<% end %>