 <%= render :partial => 'layouts/header' %>
<h1>Make a new pizza</h1>

<%= form_for(@pizza) do |f| %>
    <%= f.label :specialtyname, "Specialty Name:" %>
    <%= f.text_field :specialtyname %>
   <br>
    <br>
    <%= f.label :toppings, "Toppings:" %>
    <%= f.text_field :toppings %>
   <br>
   <br>
    <p>Select a Restaurant:<p>
    <!--Assign this the resturant id-->
    <!--Collection_select(object, method, collection, value_method(id), text_method(what is displayed), options-->
        <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, include_blank: 'Select Restaurant' %>

    <p>Or create a<b> new Restaurant</b><p>
    <!--We need this to write attributes of another object AKA this is my nested form-->
    <!--When doing a nested form, use the fields_for-->
    <div>
        <%=f.fields_for :restaurant do |r|%>
            <%= r.label :name, "Name:"%>
            <%= r.text_field :name %>
            <br>
            <%= r.label :city, "City:"%>
            <%= r.text_field :city %> 
            <br>
            <%= r.label :state, "State:"%>
            <%= r.text_field :state %>
            <br>
            <%= r.label :website, "Website"%>
            <%= r.text_field :website %>
        <%end %>
    </div>

    <br>


    <br> <p>Rate This Pizza</b><p> <%=f.fields_for :rating do |f|%>
        <%= f.label :title, "Title:" %>
        <%= f.text_field :title%>
     <br>
        <%= f.label :rate, "Rate:" %>
        <%= f.number_field :rate, :step => 0.01, min:0, max:10.0%> <!--step allows you to add a decimal using number field-->
    <br>
        <%= f.label :comment, "Comment:" %>
        <%= f.text_area :comment%>
    <br>
        <%= f.label :url, "Youtube Link:" %>
        <%= f.text_field :url%>
    <br>
    <%end%>
    <br>
    <%= f.submit "Add a New Pizza"%>

<% end %>
<%= render partial: 'layouts/errors', locals: {object: @pizza} %>