 <%= render :partial => 'layouts/header' %>
<h1>hi</h1>
<%=@pizza.id%>
<br>
<%=@pizza.specialtyname%>
<br>
<%=@pizza.toppings%>
<br>

<% if @pizza.image.attatched? %>
    <%= image_tag url_for(@pizza.image) %>
<% end %>

