<h1>Sign up</h1>

<!--formtag is used for a login because they are not creating a new user -->
<!--You want a formfor for signup -->
<%= form_for(@user) do |f| %>
    <%= f.label :username%>
    <%= f.text_field :username%>

    <%= f.label :password%>
    <%= f.password_field :password%>

    <%= f.submit "Sign In"%>

<% end %>