 <%= render :partial => 'layouts/header' %>
<h1>Pizza Reviews </h1>

<style>
table, th, td {
  border: 3px solid black;
  border-spacing: 10px;
}
</style>
<table class="foobar" cellpadding="10">
 <tr>
    <th>Rating</th>
    <th>Specialty Name</th>
    <th>Restaurant</th>
    <th>City</th>
    <th>State</th>
    <th>Youtube URL</th>
    <th>View Details</th>
  </tr>
  <tr>
    <% @ratings.each do |rating| %>
   <td> <%= rating.rate %> 
   <td> <%= rating.pizza.specialtyname%>    
   <td> <%= rating.pizza.restaurant.name%>  
   <td> <%= rating.pizza.restaurant.city%>  
   <td> <%= rating.pizza.restaurant.state%>  
   <td> <%= rating.url%> 
 </tr>
<%end %>
</table>
