 <%= render :partial => 'layouts/header' %>
<h1>Pizza Reviews </h1>

<style>
table, th, td {
  border: 3px solid black;
  border-spacing: 10px;
}
</style>
<table class="foobar" cellpadding="10" cellspacing="0">
 <tr>
    <th>View Details</th>
    <th>Rating</th>
    <th>Specialty Name</th>
    <th>Restaurant</th>
    <th>City</th>
    <th>State</th>
  </tr>
  <tr>
    <% @ratings.each do |r| %>
    <td> <%= link_to ratings_path%> </td> 
   <td> <%= r.rate %> </td> 
   <td> <%= r.pizza.specialtyname%>    
   <td> <%= r.pizza.restaurant.name%>  
   <td> <%= r.pizza.restaurant.city%>  
   <td> <%= r.pizza.restaurant.state%>  
</tr>
<%end %>
</table>