<h1>Add a Rating for <%=@rating.pizza.restaurant.name%>'s famous <%= @rating.pizza.specialtyname%> specialty! </h1>
<%= form_for(@rating) do |f|%>
    <br>
    <% if params[:pizza_id] %>
        <%= fi.hidden_field :pizza_id %>
    <% else %>
        <%= f.label :pizza_id, "Select a Pizza" %>
        <%= f.collection_select :pizza_id, Pizza.all, :id, :specialtyname, include_blank: true %>
        <%= f.label :title, "Title:" %>
        <%= f.text_field :title%>
     <br>
        <%= f.label :rate, "Rate:" %>
        <%= f.number_field :rate, :step => 0.01, min:0, max:10.0%> <!--step allows you to add a decimal using number field-->
    <br>
        <%= f.label :comment, "Comment:" %>
        <%= f.text_area :comment%>
    <br>
        <%= f.label :url, "Youtube Link:" %>
        <%= f.text_field :url%>
    <br>
    <br>
        <%= f.hidden_field :pizza_id %>
        <%= f.submit "Submit Rating"%>
<%end%>
<!--Render the error partial-->
<%= render partial: 'layouts/errors', locals: {object: @rating} %>