<!DOCTYPE html>
<html>
  <head>
    <title>PizzaRating</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--Create the Nav Bar Here-->
  <%= render 'layout/application' if current_user %>
  <div>
    <!--When you link for logout, you need to put a method that specifies this is a delete method-->
    <!--To find these links, type rails routes-->
    <%= link_to "Logout", logout_path, method: :delete %> <!--sessions#destroy-->
    <%= link_to "Add a Pizza", new_pizza_path %> <!--pizzas#new-->
    <%= link_to "Add a Restaurant", new_restaurant_path %> <!--restaurants#new-->
    <%= link_to "Add a Rating", new_pizza_rating_path %> <!--ratings#new-->
  </div>

  <body>
    <%= yield %>
  </body>
</html>
